* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:hover {background-color: lightblue;}
tr:nth-child(even) {background-color: #f2f2f2;}
dt {
    font-weight: bold;
    color: black;
}

dt::after {
    content: ":";
}
.input[type=button], input[type=submit], input[type=reset] {
    background: #b7c3ce;
    color:#fff;
    border:1px solid #eee;
    border-radius:20px;
    box-shadow:5px 5px 5px #eee;
    text-shadow:none;
}
.input[type=button], input[type=submit], input[type=reset] {
    background: #768c9b;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}
